{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}
  {% if object %}Редактирование страницы{% else %}Создание страницы{% endif %}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if object %}Редактирование страницы{% else %}Создание страницы{% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}